.gray {
  color: gray;
}

h1 { 
  font-family: 'Raleway',sans-serif; 
  font-size: 31px; 
  font-weight: 500; 
  text-transform: uppercase; 
}

.large {
  font-size: 4em;
}

ul {
  list-style-type: none;
  margin: 0;padding: 0;

  li {
    background: rgb(238, 238, 238);
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;

    p {
      font-weight: bold;
      margin-left: 20px;
      margin-top: 10px;
    }

    img {
      border-radius: 50%;
      width: 100%;
    }

    .circleBase {
      border-radius: 50%;
    }
  
    .type1 {
      width: 50px;
      height: 50px;
      background: yellow;
      border: 3px solid gray;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
    }
  }
}

.content:nth-child(2n) {
  background:#eeeeee ;
}

.content:nth-child(2n+1) {
  background: antiquewhite;
}

